
/Mahatta/ipch
/Mahatta/debug
/Mahatta/Pre_Release
/Mahatta/dbg_log.txt
/tools/Audio/Pre_Release
/tools/Audio/Debug
/tools/cal3d/release
/tools/cal3d/Pre_Release
/tools/gfx_d3d/Pre_Release
/tools/gfx_d3d/Debug
/tools/input_dx8/Debug
/tools/input_dx8/Pre_Release
/tools/Lua/Debug
/tools/Lua/Release
/tools/stdTool/Pre_Release
/tools/stdTool/Debug
/tools/Voxel/Debug
/tools/Voxel/Release
/tools/window/Debug
/tools/window/Pre_Release